{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script>
    $(function(){
    window.prettyPrint && prettyPrint();
    var startDate = new Date(2010,1,01);
    var endDate = new Date(2013,03,31);
    $('#dp4').datepicker()
    .on('changeDate', function(ev){
    if (ev.date.valueOf() > endDate.valueOf()){
    $('#alert').show().find('strong').text('The start date can not be greater then the end date');
    } else {
    $('#alert').hide();
    startDate = new Date(ev.date);
    $('#startDate').text($('#dp4').data('date'));
    $('#s_date').val($('#dp4').data('date')+'T00:00:00'); 
    }
    $('#dp4').datepicker('hide');
    });
    $('#dp5').datepicker()
    .on('changeDate', function(ev){
    if (ev.date.valueOf() < startDate.valueOf()){
			    $('#alert').show().find('strong').text('The end date can not be less then the start date');
			    } else {
			    $('#alert').hide();
			    endDate = new Date(ev.date);
			    $('#endDate').text($('#dp5').data('date'));
    				$('#e_date').val($('#dp5').data('date')+'T23:59:59'); 
			    }
			    $('#dp5').datepicker('hide');
		    });
	    })
    </script>
    <form id="frmDate" method="get">
	    <input name="s_date" id="s_date" value="2010-01-01T00:00:00" type="hidden">
	    <input name="e_date" id="e_date" value="2013-03-31T23:59:59" type="hidden">
 <div class="well">
   <table class="table">
     <thead>
       <tr>
	 <th>Start date<a href="#" class="btn small" id="dp4" data-date-format="yyyy-mm-dd" data-date="2010-01-01">Change</a></th>
	 <th>End date<a href="#" class="btn small" id="dp5" data-date-format="yyyy-mm-dd" data-date="2013-03-31">Change</a>
	 </th>
	 </tr>
       </thead>
     <tbody>
       <tr>
	 <td id="startDate">2010-01-01</td>
	 <td id="endDate">2013-03-31</td>
 </tr>
 </table>
 <table class="table">
	 <thead>
		 <tr>
			 <th>
				 Project Name 
			 </th>
			 <th>
				 User Name
			 </th>
			 <th>
				 Cloud Service
			 </th>
		 </tr>
	 </thead>
	 <tbody>
		 <tr>
			 <td>
				 <select name="project" multiple="multiple">
					 {% for key in projectlist.keys() %}
					 <option value="{{ projectlist[key]["ProjectId"] }}">fg-{{ projectlist[key]["ProjectId"] }} {{ projectlist[key]["Title"] }}</option>
					 {% endfor %}
				 </select>
				 <br>
				 Total: {{ projectlist|length }}
			 </td>
	 <td>
		 <select name="user" multiple="multiple">
			 {% for user in userlist %}
			 {% if (user["first_name"] == "") or (user["first_name"] == None) %}
			 {% else %}
			 <option value="{{ user["username"] }}">{{ user["first_name"] }} {{ user["last_name"] }}</option>
			 {% endif %}
			 {% endfor %}
		 </select>
		 <br> 
		 Total: {{ userlist|length }}
	 </td>
	 <td>
		 <select name="cloud" multiple="multiple">
			 <option value="openstack" selected="selected">OpenStack</option>
			 <option value="eucalyptus" selected="selected">Eucalyptus</option>
			 <option value="nimbus" selected="selected">Nimbus</option>
		 </select>
	 </td>
 </tr>
 <tr>
	 <td colspan="3">
	  <input class="btn" type="submit" value="Submit">
	 </td>
 </tr>
       </tbody>
     </table>
          </div>
  </form>
<table>
	<caption><h4>Table 1. Summary</h4></caption>
   <tr>
	   <th> Start date</th>
	   <th>End date</th>
	   <th>portal id</th>
	   <th>vm count</th>
	   <th>runtime</th>
	   <th>cores</th>
	   <th>mem</th>
	   <th>disks</th>
   </tr>
   {% if "All" in metrics["stats"] %}
	   <tr>
		   <td> {{metrics['start_date']}}</td>
		   <td> {{ metrics['end_date'] }}</td>
		   <td> {{ metrics["ownerid"] }} </td>
		   <td> {{ metrics["stats"]["All"]["count"]["Total"] }} </td>
		   <td> {{ metrics["stats"]["All"]["runtime"]["Total"]}} </td>
		   <td> {{ metrics["stats"]["All"]["cores"]["Total"]}} </td>
		   <td> {{ metrics["stats"]["All"]["mem"]["Total"]}} </td>
		   <td> {{ metrics["stats"]["All"]["disks"]["Total"]}} </td>
	   </tr>
	   {% elif "instance.cloudPlatformIdRef" in metrics["stats"] %}
	   <tr>
		   <td> {{metrics['start_date']}}</td>
		   <td> {{ metrics['end_date'] }}</td>
		   <td> {{ metrics["ownerid"] }} </td>
		   <td> {{ metrics["stats"]["instance.cloudPlatformIdRef"]["count"]["Total"] }} </td>
		   <td> {{ metrics["stats"]["instance.cloudPlatformIdRef"]["runtime"]["Total"]}} </td>
		   <td> {{ metrics["stats"]["instance.cloudPlatformIdRef"]["cores"]["Total"]}} </td>
		   <td> {{ metrics["stats"]["instance.cloudPlatformIdRef"]["mem"]["Total"]}} </td>
		   <td> {{ metrics["stats"]["instance.cloudPlatformIdRef"]["disks"]["Total"]}} </td>
	   </tr>
	   {% else %}
	   <tr>
		   <td colspan="8" align="center">not available</td>
	   </tr>
	   {% endif %}
   </table> 
   {% set project = metric_obj.get_userinfo(metrics["ownerid"])["projects"] %}
   {#
   {{ project }} 
   #}
<table>
	<caption><h4>Table 2. List of instances </h4></caption>
	<tr>
		<th>No</th>
		<th>instanceId</th>
		<th>start time</th>
		<th>end time</th>
		<th>duration (sec)</th>
		<th>ccvm</th>
		<th>hostname</th>
		<th>platform</th>
	</tr>
	{% for instance in instances %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ instance['instanceId'] }}</td>
		<td>{{ instance["t_start"].strftime("%a, %d %b %Y (%H:%M:%S)") }}</td>
		<td>{{ instance["t_end"].strftime("%a, %d %b %Y (%H:%M:%S)") }}</td>
		<td>{{ instance["duration"] }} </td>
		<td>cores: {{ instance["ccvm"]["cores"] }}, memories: {{ instance["ccvm"]["mem"] }}, disks: {{ instance["ccvm"]["disk"] }} </td>
		<td>{{ instance["hostname"] }}</td>
		<td>{{ instance["platform"] }}</td>
	</tr>
	{% endfor %}
	{% if instances == [] or not instances %}
	<tr>
		<td colspan="8" align="center">not available</td>
	{% endif %}
</table>

{% endblock %}
